ns/xsd/sql/1.0/sql.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright © 2018 - 2021 by Renaud Guillard (dev@nore.fr) -->
<!-- Distributed under the terms of the MIT License, see LICENSE -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:sql="http://xsd.nore.fr/sql" targetNamespace="http://xsd.nore.fr/sql" elementFormDefault="qualified">
	<xsd:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="../../www.w3.org/XML/1998/namespace.xsd"/>

	<xsd:annotation>
		<xsd:documentation xml:lang="en">Description of a SQL data source</xsd:documentation>
	</xsd:annotation>

	<!-- Basic types -->

	<xsd:complexType name="emptyType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Empty element</xsd:documentation>
		</xsd:annotation>
	</xsd:complexType>

	<xsd:simpleType name="emptyString">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value=""/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="nullableDateTime">
		<xsd:union memberTypes="xsd:dateTime sql:emptyString"/>
	</xsd:simpleType>

	<xsd:simpleType name="elementNameType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Represents a valid SQL element name</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:pattern value="[^\s\[\]&quot;'`.;]+"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="elementIdType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				A per-element-type unique identifier. Alias of XSD NCName
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NCName"/>
	</xsd:simpleType>

	<!-- Enumerations -->

	<xsd:simpleType name="literalYesType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="yes"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="timestampFormatEnum">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="date"/>
			<xsd:enumeration value="time"/>
			<xsd:enumeration value="datetime"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="orderEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Column sort order</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ASC"/>
			<xsd:enumeration value="DESC"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="eventActionEnum">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Possible actions on data modification event
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="cascade"/>
			<xsd:enumeration value="default"/>
			<xsd:enumeration value="noaction"/>
			<xsd:enumeration value="null"/>
			<xsd:enumeration value="restrict"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="commentType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Comments</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>

	<!-- Complex types -->

	<xsd:complexType name="dataFormatNumericType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Numeric type</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute ref="xml:base"/>
		<xsd:attribute name="length" type="xsd:positiveInteger" use="optional"/>
		<xsd:attribute name="decimals" type="xsd:positiveInteger" use="optional"/>
		<xsd:attribute name="autoincrement" type="sql:literalYesType" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="dataFormatStringEnumerationType">
		<xsd:sequence minOccurs="1" maxOccurs="unbounded">
			<xsd:element name="value" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="dataFormatStringType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">String type</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="sql:emptyType">
				<xsd:sequence>
					<xsd:element name="enumeration" type="sql:dataFormatStringEnumerationType" minOccurs="0" maxOccurs="1"/>
				</xsd:sequence>
				<xsd:attribute ref="xml:base"/>
				<xsd:attribute name="length" type="xsd:positiveInteger" use="optional"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="dataFormatTimestampType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Timestamp (date, time or datetime) type</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute ref="xml:base"/>
		<xsd:attribute name="mode" type="sql:timestampFormatEnum" use="optional" default="datetime"/>
		<xsd:attribute name="timezone" type="sql:literalYesType" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="dataFormatBinaryType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Binary type</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute ref="xml:base"/>
		<xsd:attribute name="length" type="xsd:positiveInteger" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="dataFormatType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Information about a column data type</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="boolean" type="sql:emptyType"/>
			<xsd:element name="numeric" type="sql:dataFormatNumericType"/>
			<xsd:element name="string" type="sql:dataFormatStringType"/>
			<xsd:element name="timestamp" type="sql:dataFormatTimestampType"/>
			<xsd:element name="binary" type="sql:dataFormatBinaryType"/>
		</xsd:choice>
	</xsd:complexType>

	<xsd:complexType name="elementDeclarationBaseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Base type for all SQL datasource elements.
				Any element have a name and may have a unique id.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute ref="xml:base"/>
		<xsd:attribute name="name" type="sql:elementNameType" use="required"/>
		<xsd:attribute name="id" type="sql:elementIdType" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="elementReferenceBaseType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				Represents an element which refers to another by its
				name or id
			</xsd:documentation>
		</xsd:annotation>
		<xsd:attribute ref="xml:base"/>
		<xsd:attribute name="name" type="sql:elementNameType" use="optional">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					Reference to an element name
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
		<xsd:attribute name="id" type="xsd:IDREF" use="optional">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">
					Reference to an element id
				</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<!-- Groups -->

	<xsd:group name="valueType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				User provided value. The value can be pre-formatted or not
			</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element name="integer" type="xsd:integer"/>
			<xsd:element name="boolean" type="xsd:boolean"/>
			<xsd:element name="datetime" type="sql:nullableDateTime"/>
			<xsd:element name="string" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						A non-formatted text string. The given element value
						will be formatted
						(quotes, escape
						characters, ...)
						according to datasource type
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="null" type="sql:emptyType">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						Specify that the value is NULL
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="number" type="xsd:decimal">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						An arbitrary number
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="base64Binary" type="xsd:base64Binary">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						A binary value using base64 encoding
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hexBinary" type="xsd:hexBinary">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						A binary value using hexBinary two character (ex: "AF") per byte
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="preformatted" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation xml:lang="en">
						A user-formatted value. The value will be given to
						the datasource 'As is'
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:choice>
	</xsd:group>

	<!-- Elements -->

	<xsd:complexType name="columnConstraintBaseType">
		<xsd:attribute name="name" type="sql:elementNameType" use="optional">
			<xsd:annotation>
				<xsd:documentation xml:lang="en">Column constraint base</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>

	<xsd:complexType name="notnullColumnConstraintType">
		<xsd:complexContent>
			<xsd:extension base="sql:columnConstraintBaseType"/>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="defaultValueColumnConstraintType">
		<xsd:complexContent>
			<xsd:extension base="sql:columnConstraintBaseType">
				<xsd:sequence>
					<xsd:group ref="sql:valueType" maxOccurs="1" minOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:group name="columnStandardPropertyGroup">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Standard properties for a table column</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

		</xsd:sequence>
	</xsd:group>

	<xsd:element name="column">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="sql:elementDeclarationBaseType">
					<xsd:all>
						<xsd:element name="comment" type="sql:commentType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="datatype" type="sql:dataFormatType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="notnull" type="sql:notnullColumnConstraintType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="default" type="sql:defaultValueColumnConstraintType" minOccurs="0" maxOccurs="1"/>
					</xsd:all>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="field" substitutionGroup="sql:column"/>

	<xsd:group name="columnNameGroup">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				List of column name
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="column" maxOccurs="unbounded" minOccurs="1">
				<xsd:complexType>
					<xsd:attribute ref="xml:base"/>
					<xsd:attribute name="name" type="sql:elementNameType" use="required"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>

	<xsd:group name="indexedColumnNameGroup">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">

			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="column" maxOccurs="unbounded" minOccurs="1">
				<xsd:complexType>
					<xsd:attribute ref="xml:base"/>
					<xsd:attribute name="name" type="sql:elementNameType" use="required"/>
					<xsd:attribute name="order" type="sql:orderEnum" use="optional"/>
					<xsd:attribute name="collation" type="xsd:string"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>

	<xsd:complexType name="constraintActionType">
		<xsd:attribute name="action" type="sql:eventActionEnum" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="referenceType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Reference on one or more table column</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="sql:tableref" minOccurs="1" maxOccurs="1"/>
			<xsd:group ref="sql:columnNameGroup"/>
			<xsd:element name="onupdate" type="sql:constraintActionType" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="ondelete" type="sql:constraintActionType" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="foreignKeyConstraintType">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Foreign key constraint</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="sql:columnConstraintBaseType">
				<xsd:sequence>
					<xsd:group ref="sql:columnNameGroup" minOccurs="1"/>
					<xsd:element name="reference" type="sql:referenceType" minOccurs="1" maxOccurs="1"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="text" type="xsd:string">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Used as a hint for XML processor to indicates
				that the
				data content have to be
				considered
				as a text string
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<xsd:element name="index">
		<!-- @todo "IF NOT EXISTS" as attribute or element -->
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Index on table columns</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="sql:elementDeclarationBaseType">
					<xsd:sequence>
						<xsd:element ref="sql:tableref"/>
						<xsd:group ref="sql:indexedColumnNameGroup" minOccurs="1" maxOccurs="1"/>
					</xsd:sequence>
					<xsd:attribute name="unique" type="sql:literalYesType" use="optional"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="tableref">
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="sql:elementReferenceBaseType"/>
			</xsd:complexContent>
		</xsd:complexType>
		<xsd:key name="tableref_identifier_constraint">
			<xsd:selector xpath="."/>
			<xsd:field xpath="@name|@id"/>
		</xsd:key>
	</xsd:element>

	<xsd:complexType name="primaryKeyConstraintType">
		<xsd:complexContent>
			<xsd:extension base="sql:columnConstraintBaseType">
				<xsd:sequence>
					<xsd:group ref="sql:indexedColumnNameGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:element name="table">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="sql:elementDeclarationBaseType">
					<xsd:sequence>
						<xsd:element name="comment" type="sql:commentType" minOccurs="0" maxOccurs="1"/>
						<!-- Columns -->
						<xsd:element ref="sql:column" minOccurs="0" maxOccurs="unbounded"/>
						<!-- Column and table constraints -->
						<xsd:element name="primarykey" type="sql:primaryKeyConstraintType" minOccurs="0" maxOccurs="1"/>
						<xsd:element name="foreignkey" type="sql:foreignKeyConstraintType" maxOccurs="unbounded" minOccurs="0"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:group name="databaseElementGroup">
		<xsd:choice>
			<xsd:element ref="sql:table"/>
			<xsd:element ref="sql:index"/>
		</xsd:choice>
	</xsd:group>

	<xsd:element name="database">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">Table container</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="sql:elementDeclarationBaseType">
					<xsd:sequence>
						<xsd:element name="comment" type="sql:commentType" minOccurs="0" maxOccurs="1"/>
						<xsd:group ref="sql:databaseElementGroup" minOccurs="1" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="datasource">
		<xsd:annotation>
			<xsd:documentation xml:lang="en">
				The root element of the XML schema
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="comment" type="sql:commentType" minOccurs="0" maxOccurs="1"/>
				<xsd:element ref="sql:database" minOccurs="1" maxOccurs="unbounded"/>
			</xsd:sequence>
			<xsd:attribute ref="xml:base"/>
			<xsd:attribute name="name" type="sql:elementNameType" default="main"/>
			<xsd:attribute name="version" type="xsd:decimal" use="required" fixed="1.0"/>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>
